#image-forHire{
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  display:block;
}

#img-women-chatting{
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height:auto;
  border-radius: 4px;
  display:block;
}

.my-icon{
  height:30px;
  width:30px;
  
}