<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Cassiano_js</title>
    <link rel="stylesheet" href="https://cassianojs-careers-website.joaosidney.repl.co/static/styles.css">
  </head>
  <body>
    <div class='container'>
      <h1 class='text-center'>Cassiano's Careers</h1>
      <img id='image' src='https://cassianojs-careers-website.joaosidney.repl.co/static/forHire.jpg'>
      <h2>About us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h2>Open positions</h2>
  <!--     show the jobs here -->
      <button class="btn btn-primary btn-lg active">Contact Us</button>
    </div>
  </body>
</html>