<!DOCTYPE html>
<html lang='en-US'>
  
  <head>
    <title>{{job.title}} - {{company_name}} </title>
    {% include 'bootstrap.html'%}
  </head>
  
  <body>
    {%include 'nav.html'%}
    {%include 'banner.html'%}
    <div class='container'>
      <h4 class='mt-1'>{{job.title}} </h4>
      <b>Location: </b>
      <p>{{job.joblocation}}</p>
      <b>Resonsibilities: </b>
      <p>{{job.responsibilities}}</p>
      <b>Requirements: </b>
      <p>{{job.requirements}}</p>
      {%if 'salary' in job%}
        <b>Salary: </b>{{job.salary}} {{job.currency}}
      {%endif%}  
    </div>

    {% include 'form.html'%}
    
  </body>
  
</html>