<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <title>{{job.title}} - {{company_name}} </title>
    {% include 'bootstrap.html'%}
  </head>
  
  <body>
    {%include 'nav.html'%}
    {%include 'banner.html'%}
    <div class='mt-4'style='padding-bottom:4px'>
      <div class='col-9'>
        <h4 class='mt-1'>{{job.title}} </h4>
        <div><b>Location: </b>{{job.joblocation}}</div>
        <div><b>Resonsibilities: </b>{{job.responsibilities}}</div>
        <div><b>Requirements: </b>{{job.requirements}}</div>
        {%if 'salary' in job%}
          <div><b>Salary: </b>{{job.salary}} {{job.currency}}</div>
        {%endif%}
      </div>
      </div>
    </div>
  </body>
</html>